*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



#site-header{
    height: 50px;
    background-color: rgba(57, 57, 246, 0.838);
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container{
    width: 67%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a{
    margin-right: 30px;
    color: white;
}

.accedi{
    background-color: white;
    padding: 10px;
    border-radius: 40%;

}


#main-section{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    
    
    

#container-main-section{
    width: 60%;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;

}
    

.content-mainsection{
    line-height: 2;
    color: white;
}

h1{
    font-size: 70px;
}



.section-description{
    background-color: white;
    height: 600px;
    display: flex;

}

#section-description-backgrey{
    background-color: lightgray;
    height: 600px;
    display: flex;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-1{
    width: calc( (100% / 12) * 1);
    background-color: rgb(87, 171, 199);
    height: 90%;
}

.col-2{
    width: calc( (100% / 12) * 2);
    background-color: rgb(241, 122, 213);
    height: 90%;
}


.col-5{
    width: calc( (100% / 12) * 5);
    background-color: rgb(32, 136, 239);
    height: 80%;
}

.col-3{
    width: calc( (100% / 12) * 3);
    background-color: pink;
    height: 80%;
}

#main-size-section{
    background-color: lightgray;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-container{
    background-color: green;
    width: 67%;
    height: 80%;
    
    
}

#site-footer{
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}



    
        





