*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
   
}



#site-header{
    height: 50px;
    background-color: rgba(57, 57, 246, 0.838);
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-container{
    width: 67%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a{
    margin-right: 30px;
    color: white;
}


/* #region-buttons */
.accedi{
    background-color: white;
    padding: 10px;
    border-radius: 40%;

}

.button{
    font-size: 20px;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    border-radius: 30%;
    
}

.open-discord{
    background-color: black;
    color: white;
}

.mac2{
    background-color: rgb(86, 67, 208);
    color: white;
    margin: 5rem 0;
}
/* #end-region-buttons */


#main-section{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
    
    
    

#container-main-section{
    width: 60%;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;

}
    

.content-mainsection{
    line-height: 1.6;
    color: white;
}

/* font-region */

h1{
    font-size: 70px;
}

p{
    font-size: 20px;
}

.col-3 > div{
    font-size: 50px;
}

.col-3 > p{
    font-size: 20px;
    margin-top: 4rem;
}

#main-size-section > div{
    font-size: 50px;
}

.stars{
    font-size: 20px;
    background-image: url("./img/stars.svg");
    background-size: contain;
    font-weight: 700;
}


/* #endfont-region */

.section-description{
    background-color: white;
    height: 600px;
    display: flex;

}

#section-description-2ndtype{
    background-color: #f2f2f2;
    height: 600px;
    display: flex;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
}




.col-5{
    width: calc( (100% / 12) * 5);
    height: 80%;
}
    

.col-3{
    width: calc( (100% / 12) * 3);
    height: 80%;
}
    

#main-size-section{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-size-container{
    width: 67%;
    text-align: center;
    line-height: 1.6;
}

footer{
    background-color: black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    width: 67%;
    height: 80%;
    background-color: lightcoral;
    
}
    
    
    
    





    
        





